* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    color: antiquewhite;
    font-weight: 300;
}

:root {
    --background: #450920;
    --base: #A53860;
    --pop1: #DA627D;
    --mid: #FFA5AB;
    --pop2: #F9DBBD;
}

/* FONTS */
@font-face {
    font-family: Limelight;
    src: url("../fonts/Limelight/Limelight-Regular.ttf");
}

@font-face {
    font-family: Amatic SC;
    src: url("../fonts/Amatic_SC/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: atypewriterforme;
    src: url("../fonts/atypewriterforme/ATypewriterForMe.ttf");
}
/* ANIMATIONS */
.fade-in {
    animation: fadeIn 1.25s ease-in forwards;
}

.fade-out {
    animation: fadeOut 1.25s ease-out forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

.pulse {
    animation: pulse 0.5s forwards;
}

@keyframes pulse {
    0% {transform: scale(1)};
    70% {transform: scale(1.2)};
    100% {transform: scale(1)};
}