* {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

:root {
    --background: #450920;
    --base: #A53860;
    --pop1: #DA627D;
    --mid: #FFA5AB;
    --pop2: #F9DBBD;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Limelight;
    src: url("../fonts/Limelight/Limelight-Regular.ttf");
}

body {
    font-family: Limelight;
    background-color: var(--background);
    text-align: center;
}

.splash-container {
    text-align: center;
    padding: 2rem;
    animation: 1.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 90vh;  /* Use viewport height to maintain aspect ratio */
    max-height: 60vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(var(--pop1), var(--pop2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}