* {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: black;
}

:root {
    --background: #450920;
    --base: #A53860;
    --pop1: #DA627D;
    --mid: #FFA5AB;
    --pop2: #F9DBBD;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Limelight;
    src: url("../fonts/Limelight/Limelight-Regular.ttf");
}

h1 {
    font-size: 4rem;
    background: -webkit-linear-gradient(var(--pop1), var(--pop2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    font-family: Limelight;
    text-align: center;
}

/* TITLE SCREEN */
.title-container {
    opacity: 0;
    text-align: center;
    padding: 2rem;
    animation: 1.5s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 90vh;
    max-height: 60vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* ANIMATIONS */
.fade-in {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

.fade-out {
    opacity: 0;
    animation: fadeOut 1.5s ease-out forwards;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

