* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #450920;
    --base: #A53860;
    --pop1: #DA627D;
    --mid: #FFA5AB;
    --pop2: #F9DBBD;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
  }

@font-face {
    font-family: Limelight;
    src: url("./Limelight/Limelight-Regular.ttf");
}

body {
    font-family: Limelight;
    background-color: var(--background);
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(var(--pop1), var(--pop2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}