<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="home-background" id="home-background"></div>
        <div class="text-container" id="text-container">
            <div class="typewriter">
                <h1 id="prompt-1" WHAT TYPE OF DATE ARE YOU FEELING?></h1>
            </div>
            <div class="typewriter">
                <h1 id="home-title"> WELCOME TO THE DATEABASE </h1>
            </div>
            <h2 class="animate__animated animate__flash animate__delay-2s animate__slower animate__infinite" id="continue-text"> click to continue </h2>
        </div>
        
        <div class="menu" id="menu">
            <img class="dateType" id="eating" src="../static/images/eating.png" alt="eating">
            <img class="dateType" id="sightseeing" src="../static/images/sightseeing.png" alt="sightseeing">
            <img class="dateType" id="playing" src="../static/images/playing.png" alt="playing">
        </div>

        <script src="../static/json/home.js"></script>
        <script src="../static/json/three.min.js"></script>
        <script src="../static/json/vanta.halo.min.js"></script>
        <script src="../static/json/home-background.js"></script>
    </body>
</html>