<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/home.css">
        <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="home-background1" id="home-background1"></div>
        <div class="home-background2" id="home-background2"></div>
        <div class="text-container" id="text-container">
            <div class="typewriter">
                <h1 id="home-title"> WELCOME TO THE DATEABASE </h1>
            </div>
            <h2 class="hidden animate__animated animate__flash animate__slower animate__infinite" id="continue-text"> click to continue </h2>
        </div>
        
        <div class="menu-container" id="menu-container">
            <div class="category-wrapper" id="activity-wrap">
                <div class="up-arrow">
                    <img src="../static/images/up.png">
                </div>
                <div class="category" id="activity">
                    <div class="choice">
                        <h1 onclick="decide(0, 0)"> EATING </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(0, 1)"> PLAYING </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(0, 2)"> SIGHTSEEING </h1>
                    </div>
                </div>
                <div class="down-arrow">
                    <img src="../static/images/down.png">
                </div>
            </div>
            <div class="category-wrapper" id="time-wrap">
                <div class="up-arrow">
                    <img src="../static/images/up.png">
                </div>
                <div class="category" id="time">
                    <div class="choice">
                        <h1 onclick="decide(1, 0)"> MORNING&#128542 </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(1, 1)"> AFTERNOON&#129303 </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(1, 2)"> EVENING&#128572 </h1>
                    </div>
                </div>
                <div class="down-arrow">
                    <img src="../static/images/down.png">
                </div>
            </div>
            <div class="category-wrapper" id="mood-wrap">
                <div class="up-arrow">
                    <img src="../static/images/up.png">
                </div>
                <div class="category" id="mood">
                    <div class="choice">
                        <h1 onclick="decide(2, 0)"> LAZY </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(2, 1)"> BOUNCY </h1>
                    </div>
                    <div class="choice">
                        <h1 onclick="decide(2, 2)"> STUDIOUS </h1>
                    </div>
                </div>
                <div class="down-arrow">
                    <img src="../static/images/down.png">
                </div>
            </div>
        </div>

        <script>
            window.define = function(categoryNum, choiceNum) {
                console.log("Placeholder");
            }
        </script>


        <script src="../static/json/home.js"></script>
        <script src="../static/json/three.min.js"></script>
        <script src="../static/json/vanta.waves.min.js"></script>
        <script src="../static/json/vanta.net.min.js"></script>
        <script src="../static/json/home-background1.js"></script>
        <script src="../static/json/home-background2.js"></script>
        <script src="../static/json/scroll.js"></script>
    </body>
</html>