<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/title.css">
        <title>Title</title>
    </head>
    <body>
        <div class="title-text" id="title-text">
            <h1>HAPPY BIRTHDAY MIMI</h1>
        </div>

        <div class="title-background" id="title-background">
            <img src="../static/images/background.png" alt="background">
        </div>

        <div class="title-logogroup" id="title-logogroup">
            <div class="title-logo" id="title-logo">
                <img src="../static/images/logo.png" alt="logo">
            </div>
            <div class="title-logotext" id="title-logotext">
                <h1> BY LALA STUDIOS </h1>
            </div>
        </div>

        <div class="loading-container" id="loading-container">
            <div class="loading-text" id="loading-text"></div>
            <div class="instruction" id="instruction">
                <h3> bruh. click it. </h3>
            </div>
        </div>

        <script src="{{ url_for('static', filename='json/title.js') }}"></script>
    </body>
</html>